@use "src/styles/colors";
@use "src/styles/fonts";

.container {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid colors.$border;
  box-shadow: 0 0 8px rgba(colors.$border, 0.5);
}

.thumbnail {
  min-height: 120px;
  width: 25%;
  flex-shrink: 0;
  margin-right: 24px;

  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linkContainer {
  text-decoration: none;
  font-family: fonts.$specialFontFamily;

  & p {
    color: colors.$textGray;
    font-size: 1.4rem;
  }

  & h3 {
    color: colors.$navy;
    font-size: 1.8rem;
    margin: 8px 0;
  }

  &:hover h3 {
    text-decoration: underline;
  }
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.chipOverrides {
  margin: 0 8px 8px 0;
}
