$defaultFontFamily: Arial, sans-serif;
$specialFontFamily: "Google Sans", Arial, sans-serif;

$defaultFontSize: 1.6rem;
$defaultHeadingSize: 2.4rem;
$defaultParagraphFontSize: 1.4rem;
$defaultButtonFontSize: 1.4rem;
