@use "src/styles/breaks";
@use "src/styles/colors";
@use "src/styles/fonts";
@use "src/styles/values";

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans"),
    url("../fonts/google-sans-regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
}

#root {
  font-size: fonts.$defaultFontSize;
  font-family: fonts.$defaultFontFamily;
  color: colors.$textDark;
}

html,
body,
#root {
  min-height: 100%;
  position: relative;
}

main {
  min-height: 100vh;
  padding-bottom: values.$footerHeight + 30px;
}

button {
  font-size: fonts.$defaultButtonFontSize;
  font-family: fonts.$specialFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: fonts.$defaultHeadingSize;
  font-family: fonts.$specialFontFamily;
}

p {
  line-height: 1.5;
  font-size: fonts.$defaultParagraphFontSize;
}

b {
  font-weight: bold;
}

a {
  color: colors.$navy;
  text-decoration: none;
  font-family: fonts.$specialFontFamily;
  &:hover {
    text-decoration: underline;
  }
}
