@use "src/styles/breaks";
@use "src/styles/values";

.sidebar {
  position: absolute;
  width: values.$sidebarWidth;
  left: values.$gutterWidth + values.$contentWidth + 40px;
  margin-bottom: 24px;
  margin-top: 48px;
}

.sectionSpacer {
  padding-top: 24px;
  padding-bottom: 8px;
}

.itemOverrides {
  margin: 12px 0 16px 0;
}

@media (max-width: breaks.$lg) {
  .sidebar {
    width: auto;
    position: static;
    margin: 24px values.$marginLg;
  }
}

@media (max-width: breaks.$sm) {
  .sidebar {
    margin: 24px values.$marginSm;
  }
}
