@use "src/styles/colors";

.linkContainer {
  display: block;

  p {
    color: colors.$textGray;
    margin-bottom: 6px;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 2rem;
  }

  &:hover {
    text-decoration: none;
    h3 {
      text-decoration: underline;
    }
  }
}
