@use "src/styles/colors";
@use "src/styles/fonts";

.linkContainer {
  display: block;

  p {
    color: colors.$textGray;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 2rem;
  }

  &:hover {
    text-decoration: none;
    h3 {
      text-decoration: underline;
    }
  }
}
