@use "src/styles/breaks";
@use "src/styles/fonts";
@use "src/styles/values";

.container {
  width: values.$contentWidth;
  margin-left: values.$gutterWidth;
}

.sectionTitle {
  font-size: 2.4rem;
  font-family: fonts.$specialFontFamily;
}

.sectionSpacer {
  padding: 24px 0;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
}

.chipOverrides {
  margin: 8px 8px 0 0;
  padding: 12px 20px;
}

@media (max-width: breaks.$lg) {
  .container {
    width: auto;
    margin-left: values.$marginLg;
    margin-right: values.$marginLg;
  }
}

@media (max-width: breaks.$sm) {
  .container {
    margin-left: values.$marginSm;
    margin-right: values.$marginSm;
  }
}
