@use "src/styles/breaks";
@use "src/styles/colors";
@use "src/styles/fonts";
@use "src/styles/values";

.resultCount {
  color: colors.$textGray;
  font-family: fonts.$specialFontFamily;
  margin: 16px 0;
}
